@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --cs-1: #dde2dc;
  --cs-2: #a4c392;
  --cs-3: #d67f54;
  --def-text: #1b1b1b;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

.pad-el {
  padding: 2rem 4rem;
}

body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cs-2);
  color: var(--def-text);
}

.wrapper {
  background-color: var(--cs-1);
  /* padding: 2rem 4rem; */
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.list {
  margin-bottom: 2rem;
  background-color: var(--cs-3);
  border-radius: 15px 15px 0 0;
}

.list .title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list .title i {
  margin-right: 2rem;
}

.list .ul {
  margin: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.content label {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}

.content input {
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 15px;
  border: none;
}

.content .btn-submit {
  text-align: center;
  padding: 1rem 2rem;
  border: none;
  background-color: #c5998c;
  cursor: pointer;
}

.nested {
  display: none;
}

.active {
  display: block;
}
