@font-face {
  font-family: "Currys Sans";
  src: url(Currys\ Sans.otf);
}

@font-face {
  font-family: "Currys Sans Headlines";
  src: url(Currys\ Sans\ Headline.otf);
}

:root {
  --primary-purple: #111727;
  --li-alt-text: #087fee;
  --secondary-purple: #cfc7f8;
  --white: #fff;
  --def-text: #213038;
  --l-gray: #f3f3f3;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  margin: 0;
  padding: 0;
}

.mar-bottom {
  margin-bottom: 2rem;
}

.pad {
  padding: 2rem 4rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Currys Sans", sans-serif;
  display: grid;
  place-content: center;
  /* height: 100vh;
  min-height: 100vh; */
  background-color: var(--primary-purple);
  color: var(--def-text);
}

.container {
  position: relative;
}

.top-nav {
  display: flex;
  justify-content: right;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.top-nav li {
  display: inline;
  margin-right: 20px;
  background-color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: var(--primary-purple);
  transition: all 250ms ease-out;
}

.top-nav li:hover {
  outline: 1px solid var(--primary-purple);
}

.top-nav li:last-child {
  margin-right: 0;
}

.wrapper {
  background-color: var(--white);
  width: 700px;
  max-width: 900px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 2rem 4rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head.main-head {
  font-weight: 400;
  font-size: 42px;
}

.sub-head.option-head {
  font-weight: 300;
  margin: 0;
}

.logo {
  display: block;
  width: 100px;
}

main .options {
  margin-bottom: 2rem;
}

main .options .options-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-purple);
  background-color: var(--l-gray);
  padding: 2rem;
  border-radius: 30px;
  transition: all 250ms ease-out;
}

.option i {
  display: inline !important;
}

.custom-area .option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-area .option.add {
  justify-content: right;
}

.options-area .option:hover {
  box-shadow: 0 0 6px 0 #cdd8df;
  filter: brightness(95%);
}

.section-top {
  background-color: var(--primary-purple);
  padding: 1rem 2rem;
  color: var(--white);
  margin-bottom: 2rem;
}

.section-top.sect-history {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-top.sect-history i {
  cursor: pointer;
}

.section-top .section-title {
  display: inline-block;
  font-size: 24px;
}

input[name="value"] {
  border: 1px solid #cdd8df;
  padding: 0.5rem;
  border-radius: 30px;
  font-size: 18px;
}

input[name="value"]:focus {
  outline: 1px solid var(--primary-purple);
}

.btn {
  padding: 1rem 2rem;
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn.btn-primary {
  border: 2px solid var(--primary-purple);
  border-radius: 30px;
  color: var(--primary-purple);
  font-size: 20px;
  transition: all 50ms ease-in-out;
}

.btn:hover {
  background-color: var(--primary-purple);
  color: var(--white);
  scale: 1.1;
}

.btns,
.options-area .option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.price-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.result-text {
  display: inline-block;
  font-size: 62px;
}

.history-ul {
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 200px;
  scroll-behavior: smooth;
}

.new-entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 0.5rem;
  padding: 0.5rem 2rem;
}

.new-entry:nth-child(odd) {
  background-color: var(--l-gray);
}

.new-entry:last-child {
  animation: entry-anim cubic-bezier(0.455, 0.03, 0.515, 0.955) 500ms 1 both;
}

@keyframes entry-anim {
  0% {
    background-color: var(--secondary-purple);
    padding-left: 100%;
  }
}

.li-emphasise {
  padding: 0.5rem;
  background-color: #087fee;
  border-radius: 5px;
  color: var(--white);
}

.li-blue {
  color: var(--li-alt-text);
}

@media screen and (max-width: 798px) {
  body {
    place-content: unset;
  }

  .wrapper {
    width: auto;
    padding: 0;
    background-color: #cdd8df;
  }

  .top-nav {
    justify-content: unset;
    flex-direction: column;
    width: 100%;
  }

  .top-nav li {
    display: block;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  main .options .options-area {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    background-color: var(--white);
  }

  .custom-area .option {
    display: flex;
    justify-content: unset;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .price-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    background-color: var(--white);
  }

  .section-top {
    padding: 0.25rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 0;
  }

  .section-top .section-title {
    font-size: 18px;
    font-weight: 400;
  }

  .value-section {
    text-align: center;
  }

  label {
    margin-bottom: 4rem;
  }

  .sub-head.option-head {
    font-size: 42px;
  }
}
