@font-face {
  font-family: "Currys Sans";
  src: url("Currys\ Sans.otf") format("opentype");
}
@font-face {
  font-family: "Currys Sans Headline";
  src: url("Currys\ Sans\ Headline.otf") format("opentype");
}

:root {
  --primary: #d7dae2;
  --accent: #76a9de;
  --gray: #676767;
  --primary-white: #fff;
  --def-text: #213038;
  --boxshadow-1: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  --font-c1: "Currys Sans";
  --font-c2: "Currys Sans Headline";
}

a {
  text-decoration: none;
  color: unset;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-c1);
  text-rendering: geometricPrecision;
  background-color: var(--primary);
  /* height: 100vh;
  min-height: 100vh; */
  /* display: grid;
  place-content: center; */
  color: var(--primary);
  overflow-x: hidden;
  /* background: var(--primary); */
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  /* margin: 2rem; */
}

.top-nav {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
}

/* .top-nav {
  display: flex;
  justify-content: space-between;
} */

.top-nav .nav-ul {
  padding: 0;
}

.top-nav .nav-ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0 3rem 0 3rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  filter: opacity(50%);
  transition: all 100ms ease-out;
}

.top-nav .nav-ul li:hover {
  animation: wobble-hor-bottom 500ms 1 both;
}

.top-nav .nav-ul .nav-selected {
  filter: opacity(100%);
  background-color: var(--primary-white);
}

.nav-img {
  width: 68px;
  height: 68px;
}

.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #21303849;
  z-index: 1;
}

.blur {
  filter: blur(2px) grayscale(85%);
}

.window {
  width: 65vw;
  height: 65vh;
  background-color: var(--primary-white);
  z-index: 99999;
  box-shadow: var(--boxshadow-1);
}

.window .entry-item {
  margin-bottom: 0;
  border-radius: 0;
}

.oflow {
  overflow: hidden;
}

/* .top-nav li {
  display: block;
  margin-right: 20px;
  background-color: var(--primary-white);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: var(--primary);
  transition: all 250ms ease-out;
} */

/* .top-nav li:last-child {
  margin-right: 0;
} */

.nav-ul li:hover {
  filter: opacity(100%);
  background-color: var(--primary-white);
}

.wrapper {
  /* width: 90vw;
  max-width: 95vw; */
  background-color: var(--primary-white);
  /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  transition: all 2s ease-out;
}

/* .logo {
  display: block;
  width: 100px;
} */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid var(--gray); */
  border-radius: 10px;
  /* padding: 3rem 5rem; */
}

main .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("bg.png");
  padding: 3rem 1.5rem;
  border-radius: 30px;
  margin-top: 2rem;
}

main .top .call-counter {
  align-self: center;
  font-size: 60px;
  padding: 1rem 2rem;
  background-color: #e5006d;
  border-radius: 30px;
  color: var(--primary-white);
}

main .main-para {
  text-align: right;
  font-size: 18px;
}

.main-header {
  font-family: var(--font-c1);
  color: var(--def-text);
  margin: 0;
  font-size: 42px;
  font-size: 300;
  text-align: center;
  margin-bottom: 0.5rem;
}

main .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
}

main .top-bar .status ul {
  list-style-type: none;
  padding: 0;
}

/* .li-status {
  display: inline;
  color: var(--def-text);
  border: 1px solid var(--accent);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    outline 0.15s ease-in-out;
}

.li-status:hover {
  box-shadow: 0 0 6px 0 #cdd8df;
} */

/* .li-status#status-help {
  border: 2px solid var(--primary);
} */

.help-window {
  position: relative;
}

.help-window .help-container {
  position: absolute;
  top: 0;
  left: -100%;
  background-color: var(--primary-white);
  border-radius: 30px;
  border: 1px solid var(--accent);
  z-index: -1;
  width: 50vw;
  padding: 2rem;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  opacity: 0;
  transition: opacity 1.2s ease-out, left 1s ease-out, z-index 1.5s ease-out;
}

.help-window .help-container.visible {
  opacity: 1;
  left: 0;
  z-index: 9999;
}

.help-header {
  display: inline-block;
  margin: 0;
  font-size: 42px;
  margin-bottom: 2rem;
}

.section-title {
  margin: 0 0 0.25rem 0;
  font-size: 20px;
  font-weight: 400;
  color: var(--def-text);
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--accent);
}

.section-title i {
  color: var(--primary);
  margin-right: 10px;
}

.section-para {
  margin: 0 0 0.5rem 0;
  font-weight: 300;
  color: var(--def-text);
  line-height: 1.5;
  letter-spacing: 1.1px;
  margin-bottom: 2rem;
}

.section-para b {
  font-size: 18px;
  color: var(--primary);
  margin-bottom: 0.25rem;
}

.li-status#status-local i {
  margin-left: 0.25rem;
}

.li-status#status-clear.disabled {
  cursor: not-allowed;
}

main .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  margin-bottom: 2rem;
  gap: 20px;
}

main .cards .card-item {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 2rem 1.5rem;
  border: 2px solid var(--accent);
}

/* main .cards .card-item:nth-child(1) {
  background-color: var(--green);
}

main .cards .card-item:nth-child(2) {
  background-color: var(--purple);
}

main .cards .card-item:nth-child(3) {
  background-color: var(--yellow);
} */

.card-title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: var(--def-text);
  margin-bottom: 1rem;
}

.log-status {
  text-align: center;
  font-size: 52px;
}

.card-text {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
}

.date {
  font-size: 32px;
  font-weight: 400;
  color: var(--gray);
}

.red {
  background-color: rgb(209, 24, 24);
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: 800;
  animation: warning 2s infinite both;
}

.blue {
  background-color: rgb(66, 141, 253);
  color: var(--primary-white) !important;
  border-radius: 5px;
  padding: 0.5rem;
}

.green {
  background-color: rgb(34, 189, 13);
  color: var(--primary-white) !important;
  border-radius: 5px;
  padding: 0.5rem;
}

@keyframes warning {
  0% {
    scale: 1;
    background-color: rgb(209, 24, 24);
  }
  50% {
    scale: 1.1;
  }
  100% {
    background-color: transparent;
  }
}

.puff-out-center {
  -webkit-animation: puff-out-center 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
  animation: puff-out-center 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-17 20:52:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-out-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
}
@keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-right: 2rem;
  padding-top: 4rem;
}

.search-bar .search-input i {
  border-radius: 50%;
  padding: 0.5rem;
  background-color: var(--primary);
  color: var(--primary-white);
  z-index: 9999;
}
.srch-btn {
  border: none;
  outline: none;
  background: transparent;
}

main .log-area {
  /* border: 1px solid var(--gray); */
  border-radius: 10px;
  padding: 1rem;
  /* max-height: 150px;
  overflow-x: hidden; */
  margin-bottom: 2rem;
  scroll-behavior: smooth;
}

/* Unordered List Element */

main .log-area .logs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  flex-wrap: wrap;
  padding: 0;
  border-radius: 10px;
  gap: 10px;
  transition: all 250ms ease-out;
}

/* List Item Element */

main .log-area .logs .renderedEntry {
  position: relative;
  /* padding: 1rem; */
  /* border: 1px solid var(--accent); */
  border-radius: 5px;
  background-color: #f3f3f3;
  transition: all 250ms ease-in-out;
  padding: 1rem;
}

#entry-img {
  opacity: 0.2;
}

main .log-area .logs .renderedEntry p {
  font-size: 32px;
  padding: 0.5rem;
  margin: 0;
  color: var(--def-text);
}

main .log-area .logs .renderedEntry.highlighted {
  border: 6px solid var(--primary);
  animation: highanim 250ms infinite both;
}

@keyframes highanim {
  0% {
    border: none;
  }
  100% {
    border: 6px solid var(--yellow);
  }
}

/* main .log-area .logs .renderedEntry:hover {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 80vh;
  transform: scale(1.2);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  z-index: 9999;
} */

main .log-area .logs .renderedEntry:last-child {
  animation: entryAnim 500ms 100ms both;
}

.hide {
  display: none;
  /* animation: hamburgerAnim 1s 1 both; */
}

.search-text {
  position: absolute;
  left: -100%;
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  color: var(--def-text);
  opacity: 0;
  transition: opacity 250ms ease-out, left 1s ease-out;
  background-color: var(--l-gray);
  padding: 0.5rem 2rem;
  z-index: -1;
}

.search-text i {
  margin-right: 10px;
}

.search-text.enabled {
  opacity: 1;
  left: 300px;
}

.search-ul {
  list-style-type: none;
  margin: 0;
}

.search-ul li {
  display: inline;
  padding: 1rem 2rem;
  background-color: #e5006d;
  color: var(--primary-white);
}

@keyframes entry-hide {
  0% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0;
  }
}

@keyframes hamburgerAnim {
  0% {
    padding-left: 100%;
  }
}

@keyframes entryAnim {
  0% {
    opacity: 0;
    scale: 1.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.entry-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--accent); */
  padding: 2rem 0.5rem;
  color: var(--def-text);
}

.li-head {
  margin: 0;
  font-size: 62px;
  font-weight: 400;
  opacity: 0.3;
}

.toast-area {
  position: fixed;
  bottom: 0;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.toast {
  padding: 2rem 4rem;
  background-color: var(--primary-white);
  border-radius: 30px;
  box-shadow: var(--boxshadow-1);
  opacity: 1;
  transition: opacity 2s ease-out;
  z-index: 9999;
  animation: yaypop 2s 1 both;
  margin-right: 1rem;
}

.toast-head,
.toast-text {
  display: block;
  font-size: 18px;
  color: var(--def-text);
  font-weight: 400;
}

.toast.pop {
  opacity: 0;
}

.toast.fixed {
  /* position: fixed;
  bottom: 100px; */
}

@keyframes yaypop {
  0% {
    transform: translateX(-100%) translateY(-10%);
  }
  100% {
    transform: translateX(-5%) translateY(-10%);
  }
}

.toast span:first-child {
  display: block;
  font-size: 24px;
}

.li-text {
  display: inline-block;
  font-size: 24px;
  /* margin: 0.5rem 0 0.5rem 0; */
  color: var(--def-text);
  /* background-color: #213038; */
}

.li-text.text-main {
  display: inline-block;
  font-size: 24px;
  margin-bottom: 0.25rem;
}

.entry-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid var(--accent);
  background-color: var(--primary-white);
  margin-bottom: 1rem;
  border-radius: 5px;
}

.entry-item.priority {
  border-radius: 5px;
}

/* .entry-item:nth-child(odd) {
  background-color: var(--purple);
} */

/* main .log-area ul li:nth-child(odd) {
  background-color: var(--accent);
} */

main {
  margin-left: 4rem;
  margin-right: 4rem;
}

main .log-menu {
  /* display: none; */
}

main .log-menu.enabled {
  display: initial;
}

main .form-interact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  background-color: var(--l-gray);
  margin-bottom: 2rem;
  color: var(--def-text);
  padding: 0.5rem;
  border-radius: 5px;
  transition: filter 250ms ease-out;
}

main .form-interact:hover {
  filter: brightness(98%);
}

.normal {
  font-size: 28px;
  font-weight: 300;
  cursor: pointer;
}

main .log-menu form {
  z-index: 9999;
  opacity: 1;
  transition: all 500ms ease-out;
}

form.disabled {
  display: none;
}

.hidden {
  opacity: 0;
}

.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-25 23:7:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

main .log-menu form .form-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--accent);
}

main .log-menu form label {
  font-size: 20px;
  color: var(--gray);
}

main .log-menu form input,
main .log-menu form select,
main .log-menu form textarea,
.search {
  margin-bottom: 0.5rem;
  border: 1px solid var(--accent);
  border-radius: 30px;
  padding: 1rem 2rem;
  font-size: 20px;
  font-weight: 400;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    outline 0.15s ease-in-out;
}

.search {
  width: 25vw;
  background-image: url("search.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 10px;
  padding-left: 3rem;
  margin-bottom: 1rem;
}

main .log-menu form input:focus,
main .log-menu form select:focus,
main .log-menu form textarea:focus,
.search:focus {
  outline: 2px solid var(--primary);
}

main .log-menu form input:hover,
main .log-menu form select:hover,
main .log-menu form textarea:hover {
  box-shadow: 0 0 6px 0 #cdd8df;
}

main .log-menu form textarea {
  width: 400px;
  height: 150px;
  min-width: 400px;
  max-width: 800px;
  min-height: 150px;
  max-height: 300px;
}

main .log-menu form input {
  width: 400px;
  transition: all 100ms ease-out;
}

main .log-menu form input:active {
  border: none;
}

main .log-menu form select {
  margin-bottom: 0.5rem;
}

.form-btns {
  display: flex;
  justify-content: right;
  gap: 10px;
}

.btn {
  background: transparent;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn.btn-big {
  padding: 2rem 4rem;
  font-size: 32px;
}

.btn.btn-primary {
  background-color: var(--accent);
  color: var(--primary-white);
}

/* .btn.btn-primary.delete {
  background-color: var(--primary);
} */

/* .btn.btn.btn-secondary.highlight {
  background-color: var(--green);
} */

.btn.btn-outline {
  outline: none;
  border: 2px solid var(--accent);
  background-color: var(--primary-white);
  color: var(--accent);
}

.option-disabled {
  display: none !important;
}

.render-btn-space {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.bottom-fixed {
  position: fixed;
  bottom: 10px;
  right: 25px;
  background-color: #4c13a29c;
  padding: 1rem;
}

.form-fixed {
  color: var(--primary-white);
}

.bottom-bar {
  opacity: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: var(--purple);
  padding: 2rem 4rem;
  width: 100%;
  transition: all 500ms ease-out;
}

.bottom-bar.visible {
  opacity: 1;
}

/* .hide {
  display: none;
} */

#hamburger {
  color: var(--primary-white);
  padding: 0.25rem;
  text-align: right;
}

noscript {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 50%);
  z-index: 9999;
  background-color: #2130381e;
  box-shadow: var(--boxshadow-1);
  transition: all 500ms ease-out;
}

noscript picture {
  width: 100%;
}

noscript img {
  display: block;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-white);
}

.box-heading {
  background-color: var(--purple);
  padding: 2rem 4rem;
  font-size: 38px;
}

.box-content {
  padding: 2rem 4rem;
  color: var(--def-text);
}

.box-content .bc-top {
  display: flex;
  align-items: center;
}

.box-content .bc-top i {
  margin-right: 1rem;
}

.box-content .box-para {
  font-size: 22px;
  font-weight: 400;
}

.box-content .box-para.para-big {
  font-size: 32px;
  font-weight: 400;
}

/* MEDIA QUERIES */
@media screen and (max-width: 798px) {
  .container {
    margin: 0.5rem;
  }

  .wrapper {
    width: 95vw;
  }

  main {
    padding: 0.5rem 1rem;
  }

  main .top {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem !important;
  }

  .top-nav {
    justify-content: unset;
    flex-direction: unset;
    flex-wrap: wrap;
  }

  .top-nav li {
    display: block;
    width: auto;
  }

  main .main-header {
    font-size: 24px;
    margin-top: 1rem;
  }

  main .main-para {
    text-align: center;
  }

  main .top-bar {
    flex-direction: column;
    margin-bottom: 2.5rem;
    display: initial;
    transition: all 500ms ease-out;
  }

  .li-status {
    display: block;
    text-align: center;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .help-window .help-container {
    position: unset;
    top: -100px;
    width: 60vw;
    display: none;
    box-shadow: none;
    transition: all 250ms ease-out;
  }

  .help-window .help-container.visible {
    display: block;
  }

  .li-status#status-local i {
    margin-left: 0.25rem;
  }

  main .cards,
  main .log-area .logs {
    grid-template-columns: 1fr;
  }

  .card-text {
    font-size: 32px;
  }

  .date {
    font-size: 24px;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--accent);
  }

  .li-text,
  .li-text.text-main {
    font-size: 18px;
  }

  main .log-menu form .form-item {
    flex-direction: column;
  }

  main .log-menu form label {
    font-size: 18px;
    margin-bottom: 0.5rem;
  }

  main .log-menu form input,
  main .log-menu form select,
  main .log-menu form textarea,
  .search {
    margin-bottom: 0.5rem;
    border: 1px solid var(--accent);
    border-radius: 30px;
    padding: 0.5rem 1rem;
    font-size: 16px;
    font-weight: 400;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
      outline 0.15s ease-in-out;
  }

  .search-bar {
    text-align: center;
    margin-bottom: 1rem;
  }

  .search {
    text-align: center;
    width: 60vw;
  }

  .search-text.enabled {
    top: 50px;
    left: 10vw;
    z-index: 9999;
  }

  main .log-menu form input {
    width: auto;
    transition: all 100ms ease-out;
  }

  main .log-menu form textarea {
    width: unset;
    height: auto;
    min-width: 325px;
    max-width: 325px;
    min-height: 75px;
    max-height: 150px;
  }

  .form-btns {
    justify-content: center;
  }

  .btn.btn.btn-big {
    padding: 0.5rem 1rem;
    font-size: 24px;
  }
}
